<HTML>
    <HEAD>
    <TITLE>Registro de Usuario</TITLE>
    <link rel="stylesheet" type="text/css" href="../css/index2.css">
   <style>
    body{
      background-image: url(../img/zmostrador_2.jpg);
      }
   </style>
   <style>   
    form{
      width:350px;
      padding:16px;
      border-radius:10px;
      margin:auto;
      background-color:rgb(127,255,212);
      text-align: center;
    } 
   </style>
   <style>
    .container{
      padding-top:120px;
      }
   </style>   
   </HEAD>
    <BODY>
      <div class="container" >
            <!--//"window.location='/usuariocajero'"//  -->   
            <form name ="login" action="{{url_for('usuariocajero')}}" method="POST">
               <button onSubmit="return validarformulario()" type="submit" class="btn btn-default" style="float: right">Cajero</button>
               <div class="col-12 user-img">
                  <!--<img src="../img/carajillo.jpg" width="128" height="128">       <img src="../../static/img/carajillo.jpg" width="128" height="128">  -->
                  <img src="../static/img/logo4.png" width="128" height="128">
                  
               </div>
               <div class="titulo1"
                  <label form="titulo"><center></label><center><label form="titulo"><H1><B>Registro de Usuario</B></H1></center></label> 
               </div>
               <div class="campos">  
                  <div class="field1">
                     <script>
                     if ( !(login.nombre) ){                                                            //COMPRUEBA MAIL
                        alert("Error: Debe ingresar un nombre de usuario");
                        return false; 
                     }  </script> 
                     <input type="nombre"  class="form-control" placeholder="Digita el nombre de Usuario" name="nombre"/> 
                     
                     
                     <script type="text/javascript"> 
                     window.onload = function () {
                     document.login.nombre.focus();
                     var formulario = document.login;
                     document.login.addEventListener('submit', validarFormulario)
                     }
                     function validarFormulario(evObject) {
                     evObject.preventDefault();
                     var todoCorrecto = true;
                     var formulario = document.login; 
                     for (var i=0; i<formulario.length; i++) {
                           if(formulario[i].type =='text') {
                              if (formulario[i].value == null || formulario[i].value.length == 0 || /^\s*$/.test(formulario[i].value)){
                                 alert (formulario[i].name+ ' no puede estar vacío o contener sólo espacios en blanco');
                                 todoCorrecto=false;
                              }
                           }
                           }
                     if (todoCorrecto ==true) {formulario.submit();}
                     }
                     </script> 
                     
                  </div> 
                  <br><br>
                  <div class="field2">
                     <input type="password" onFocus="this.style.color='grey'" onBlur="this.style.color='white'" class="form-control" placeholder="Digita la Contrasena" name="password"/>
                  </div>
                  <div class="check">
                     <label><input type="checkbox" id="cbox1" value="first_checkbox" align="left"> Guardar contrasena</label><br>
                  </div><br>
                  <div class="boton2">
                     <input type="submit" value="Recuperar Contrasena" style=border-radius:15px;>
                  </div> 
                  <br><br>
                  <div class="boton1">
                     <input role=link onClick="window.location='/principal'" type="button" value="Ingresar" name="boton" role=link onclick="window.location='../templates/principal.html'"
                     style="border-radius: 15px; FONT-SIZE: 14pt; FONT-FAMILY: Verdana; 
                     BACKGROUND-COLOR: rgb(149, 150, 99)">
                  </div> 
               <br>
               </div>   
            </form> 
      </div>
   </BODY>
</HTML>